<launch>

  <arg name="rviz" default="true" />

  <node pkg="loam_velodyne_64e" type="scanRegistration_64e" name="scanRegistration" output="screen" respawn="true">
<!--    <remap from="velodyne_points" to="velodyne_points_down" />-->
  </node>
  <node pkg="loam_velodyne_64e" type="laserOdometry_64e" name="laserOdometry" output="screen" respawn="true"/>
  <node pkg="loam_velodyne_64e" type="laserMapping_64e" name="laserMapping" output="screen" respawn="true"/>
  <node pkg="loam_velodyne_64e" type="transformMaintenance_64e" name="transformMaintenance" output="screen" respawn="true"/>

<!--  <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />-->

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne_64e)/rviz_cfg/loam_velodyne.rviz" />
  </group>

</launch>
