<?xml version="1.0"?>
<launch>

  <arg name="rviz" default="true" />

  <node pkg="loam_velodyne_vance" type="scanRegistrationKITTI" name="scanRegistrationKITTI" output="screen">
    <remap from="/velodyne_points" to="/kitti/velo/pointcloud"/>
    <!--remap from="/imu/data" to="/kitti/oxts/imu"/-->
  </node>

  <node pkg="loam_velodyne_vance" type="laserOdometryKITTI" name="laserOdometryKITTI" output="screen" /><!--respawn="true"-->


  <node pkg="loam_velodyne_vance" type="laserMappingKITTI" name="laserMappingKITTI" output="screen"/>
  <node pkg="loam_velodyne_vance" type="transformMaintenanceKITTI" name="transformMaintenanceKITTI" output="screen"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne_vance)/rviz_cfg/loam_velodyne.rviz" />
  </group>
<!--
  <node pkg="loam_velodyne_vance" type="saveOdometryKITTI" name="saveOdometryKITTI" output="screen"/>


  <node pkg="tf" type="static_transform_publisher" name="static_tf_1" args="1 0 0 0 0 0 1 world camera_init   100" />  
  <node pkg="tf" type="static_transform_publisher" name="static_tf_2" args="1 0 0 0 0 0 1 velo_link camera_init   100" />  -->
</launch>
